name: Generate Snake

on:
  schedule: # Chạy tự động mỗi ngày
    - cron: "0 0 * * *" 
  workflow_dispatch: # Cho phép chạy thủ công

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          github_user_name: anphan991
          # QUAN TRỌNG: Dòng này định nghĩa màu sắc tối như hình bạn gửi
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
